* {
  padding: 0;
  margin: 0;
}

.page {
  width: 80%;
  height: 100%;
}

.header {
  width: 99.1%;
  height: 500px;
  background-color: #262626;
  border-bottom: 5px solid #92d050;
  padding: 5% 0 5% 0;
}

.titre {
  display: flex;
  align-items: center;
  width: 80%;
  height: 80%;
  background-color: white;
  border: 5px solid #92d050;
  border-radius: 20px;
  margin: 0 10% 0 10%;
}
.nom {
  width: 100%;
  background-color: #92d050;
  padding: 3% 0 3% 0;
  color: white;
  font-family: Arial;
  text-align: center;
}

.nom h1 {
  font-size: 80px;
}

.nom h2 {
  font-size: 50px;
}

.contact {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #92d050;
  margin: 2.5% 0 2.5% 0;
  padding: 1% 0 1% 0;
}

.main {
  width: 90.9%;

}

.présentation {
  width: 100%;
  background-color: white;
  border-bottom: 5px solid #92d050;
  padding: 5%;
}

.présentation .container {
  width: 99.1%;
  background-color: #262626;
  border: 5px solid #92d050;
  border-radius: 20px;
}

.présentation .container p {
  color: white;
  font-family: Arial;
  font-size: 20px;
  padding: 2%;
  text-align:center;
}

.formation {
  width: 100%;
  background-color: #262626;
  border-bottom: 5px solid #92d050;
  padding: 5%
}

.formation .container {
  width: 99.1%;
  background-color: white;
  border: 5px solid #92d050;
  border-radius: 20px;
}

.formation .container .upto {
  width: 80%;
  font-family: Arial;
  font-size: 20px;
  margin: 2.5% 10% 2.5% 10%;
  border: 5px solid #92d050;
  border-radius: 20px;
}

.formation .container .upto img {
  width: 100%;
  height: auto;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  border-radius: 15px;
}

.upto {
  position: relative;
}

.formation .container .upto .desc {
  position: absolute;
  top:45%;
  width: 96%;
  background-color: #262626;
  color: white;
  padding: 2%;
  border-top: 5px solid #92d050;
  border-bottom: 5px solid #92d050;
}

.formation .container .davinci {
  width: 80%;
  font-family: Arial;
  font-size: 20px;
  margin: 2.5% 10% 2.5% 10%;
  /*padding: 2%;*/
  border: 5px solid #92d050;
  border-radius: 20px;
}

.formation .container .davinci img {
  width: 100%;
  height: auto;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  border-radius: 15px;
}

.davinci {
  position: relative;
}

.formation .container .davinci .desc {
  position: absolute;
  top:45%;
  width: 96%;
  background-color: #262626;
  color: white;
  padding: 2%;
  border-top: 5px solid #92d050;
  border-bottom: 5px solid #92d050;
}

.desc p {
  font-size: 25px;
  text-align: center;
}

.compétence {
  width: 100%;
  background-color: white;
  border-bottom: 5px solid #92d050;
  padding: 5%
}

.compétence .container {
  width: 99.1%;
  background-color: #262626;
  border: 5px solid #92d050;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 2.5% 0 2.5% 0;
}

.tiera {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.tiera .html {
  /*width: 20%;*/
  background-color: white;
  border: 5px solid #92d050;
  border-radius: 20px;
  display: flex;
  /*justify-content: space-between;*/
  padding: 2%;
}

.tiera .css {
  /*width: 20%;*/
  background-color: white;
  border: 5px solid #92d050;
  border-radius: 20px;
  display: flex;
  /*justify-content: space-between;*/
  padding: 2%;
}

.tiera .js {
  /*width: 20%;*/
  background-color: white;
  border: 5px solid #92d050;
  border-radius: 20px;
  display: flex;
  /*justify-content: space-between;*/
  padding: 2%;
}

.tierb {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5% 0 5% 0;
}

.tierb .bootstrap {
  /*width: 20%;*/
  background-color: white;
  border: 5px solid #92d050;
  border-radius: 20px;
  display: flex;
  /*justify-content: space-between;*/
  padding: 2%;
}

.tierb p {
  /*width: 20%;*/
  background-color: white;
  border: 5px solid #92d050;
  border-radius: 20px;
  display: flex;
  /*justify-content: space-between;*/
  padding: 2%;
  text-align: center;
  font-size: 40px;
  font-family: Arial;
  align-self: center;
  color: #262626;
}

.tierb .angular {
  /*width: 20%;*/
  background-color: white;
  border: 5px solid #92d050;
  border-radius: 20px;
  display: flex;
  /*justify-content: space-between;*/
  padding: 2%;
}

.tierc {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2.5%;
}

.tierc .php {
  /*width: 20%;*/
  background-color: white;
  border: 5px solid #92d050;
  border-radius: 20px;
  display: flex;
  /*justify-content: space-between;*/
  padding: 2%;
}

.tierc .sql {
  /*width: 20%;*/
  background-color: white;
  border: 5px solid #92d050;
  border-radius: 20px;
  display: flex;
  /*justify-content: space-between;*/
  padding: 2%;
}

.tierc .jquery {
  /*width: 20%;*/
  background-color: white;
  border: 5px solid #92d050;
  border-radius: 20px;
  display: flex;
  /*justify-content: space-between;*/
  padding: 2%;
}

.compétence .container p {
  /*width: 20%;*/
  background-color: white;
  border: 5px solid #92d050;
  border-radius: 20px;
  display: flex;
  /*justify-content: space-between;*/
  padding: 2%;
  text-align: center;
  font-size: 40px;
  font-family: Arial;
  align-self: center;
  color: #262626;
}

.tierd {
  width: 100%;
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  justify-content: space-around;
  padding-top: 2.5%;
}

#carousel {
  position: relative;
  width: 500px;
  height: 450px;
  border: 5px solid #92d050;
  border-radius: 20px;
  padding: 0;
  /* Décommentez petit à petit pour voir ce que ces propriétés font : */
  white-space: nowrap;
  overflow: hidden;
}

#carousel li {
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  width: 500px;
  height: 450px;
  opacity: 0;
}

#carousel li img {
  width: 100%;
  height: auto;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
}
/* impaire (1er et 3e) */

.active {
  opacity: 1!important;
}

button {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #92d050;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  outline: none;
}

.footer {
  background-color: #262626;
  padding: 2%;
}

.footer p {
  color: white;
  font-family: Arial;
  font-size: 20px;
  text-align: right;
}
